$menu-icon-color: #230545;
$hover-color: #5c9b4c;
$light-color: white;
$background-login:rgba(185, 214, 233, 0.6);
$wheat-color: #c3d6b6;
$wheat: linear-gradient(rgba(228, 233, 211, 0.6), rgba(181, 213, 238, 0.6));
$white: #99e5fe;
$calc-height:calc(100vh - 110px);
