.sky-wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  background-color: #a6c3dd !important;
  &.blur{
    filter: blur(4px) grayscale(50%);
    -webkit-filter: blur(4px) grayscale(50%);
  }
  .sky1-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 34px;
    animation:skyAnimation1 infinite 112s linear;
    @include medium-screen{
      animation:skyAnimation1 infinite 62s linear;
    }
  }
  .sky1-1-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 34px;
    animation:skyAnimation1-1 infinite 112s linear;
    @include medium-screen{
      display: none;
    }
  }
  .sky2-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 134px;
    animation:skyAnimation2 infinite 110s linear;
    @include medium-screen{
      animation:skyAnimation2 infinite 60s linear;
    }
  }
  .sky2-2-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 134px;
    animation:skyAnimation2-2 infinite 110s linear;
    @include medium-screen{
      display: none;
    }
  }
  .sky3-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 310px;
    animation:skyAnimation3 infinite  108s linear;
    @include medium-screen{
      animation:skyAnimation3 infinite  58s linear;
    }
  }
  .sky3-3-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 310px;
    animation:skyAnimation3-3 infinite  108s linear;
    @include medium-screen{
      display: none;
    }
  }
  .sky4-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 234px;
    animation:skyAnimation4 infinite  117s linear;
    @include medium-screen{
      animation:skyAnimation4 infinite  67s linear;
    }
  }
  .sky4-4-wrapper{
    opacity: 0.6;
    position: absolute;
    top: 234px;
    animation:skyAnimation4-4 infinite  117s linear;
    @include medium-screen{
      display: none;
    }
  }
}
