<section class="home-cards container">
  <a class="card" routerLink="/top-rated">
    <div class="imgBx">
      <img class="img-hover " src="assets/images/u1.jpg" alt="images">
    </div>
    <div class="details">
      <h2>trending places<br><span>enjoy your day</span></h2>
    </div>
  </a>
  <a routerLink="/custom" routerLinkActive="class1" class="card">
    <div class="imgBx">
      <img class="img-hover" src="assets/images/u2.jpg" alt="images">
    </div>
    <div class="details">
      <h2>Customize Your Package<br><span>find out your best trip</span></h2>
    </div>
  </a>
</section>
