<section class="container home">
  <div class="">
    <div class="search-results"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
      <div class="row row-cols-1 row-cols-md-3 row-wrapper">
        <div class="card-wrapper col-xl-6 col-md-6 col" *ngFor="let trip of places; let i = index">
          <div class="Card1">
            <div class="photo">
              <img src='{{trip.images[0]}}' alt="{{trip.title}}">
            </div>
            <ul class="details">
              <li class="details-button btn btn-primary btn-style" routerLink="/trip/details/{{trip._id}}">Show Details
              </li>
              <li class="fav">
                <app-favorite [isFavorite]="isLogged? isFavorite[i]: false" [placeID]="trip._id"></app-favorite>
              </li>
              <li class="rating">
                <app-rating [placeID]="trip._id" [stars]='trip.rates'></app-rating>
              </li>
            </ul>
            <div class="description">
              <div class="line">
                <h1 class="product_name">{{trip.title}}</h1>
              </div>
              <p class="summary">{{ (trip.description.length>100)? (trip.description | slice:0:200)+'......':(trip.description) }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- spinner -->
      <div class="row spinner-styling" >
        <div class="col-md-12 p-4">
          <ngx-spinner
            bdOpacity = 0.9
            bdColor = "#a6c3dd"
            size = "default"
            color = "#5c9b4c"
            type = "ball-pulse-sync"
            [fullScreen] = "false">
          </ngx-spinner>
        </div>
      </div>
      <!-- Alert no more post -->
      <div *ngIf = "!notEmptyPost" class="row pb-4">
        <div class="col-md-12 d-flex justify-content-center m-0">
          <div class="text-muted h6 alert alert-secondary p-2 m-0">No more items to show</div>
        </div>
      </div>
    </div>
  </div>
</section>
