<div class="container login-form ">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 class="title-color">Reset Password</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="OnSubmit()">

            <div class="mb-4">
                <div class="input-group form-group mb-0 pb-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><svg width="15px" height="auto" fill="white" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M832 512q0-80-56-136t-136-56-136 56-56 136q0 42 19 83-41-19-83-19-80 0-136 56t-56 136 56 136 136 56 136-56 56-136q0-42-19-83 41 19 83 19 80 0 136-56t56-136zm851 704q0 17-49 66t-66 49q-9 0-28.5-16t-36.5-33-38.5-40-24.5-26l-96 96 220 220q28 28 28 68 0 42-39 81t-81 39q-40 0-68-28l-671-671q-176 131-365 131-163 0-265.5-102.5t-102.5-265.5q0-160 95-313t248-248 313-95q163 0 265.5 102.5t102.5 265.5q0 189-131 365l355 355 96-96q-3-3-26-24.5t-40-38.5-33-36.5-16-28.5q0-17 49-66t66-49q13 0 23 10 6 6 46 44.5t82 79.5 86.5 86 73 78 28.5 41z"/></svg></span>
                  </div>
                  <input type="password" class="form-control" formControlName="Password" placeholder="Password">
                </div>
                <div class="mt-0 pt-0" *ngIf="form.controls['Password'].invalid &&
                  (form.controls['Password'].touched || form.controls['Password'].dirty)">
                  <small
                    class="form-text text-danger"
                    *ngIf="form.controls['Password'].hasError('required')"
                  >required password</small
                  >
                  <small
                    class="form-text text-danger"
                    *ngIf="form.controls['Password'].hasError('minlength')"
                  >min length is 6</small
                  >
                  <small
                    class="form-text text-danger"
                    *ngIf="form.controls['Password'].hasError('maxlength')"
                  >max length is 18</small
                  >
                </div>
              </div>

            <div class="mb-4">
              <div class="input-group form-group mb-0 pb-0">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <svg fill="white" width="15px" height="auto" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg></span>
                </div>
                <input (keyup)="checkPasswords()" type="password" class="form-control" formControlName="confirmpassword"
                placeholder="Confirm Password" >              </div>
                <div class="mt-0 pt-0" *ngIf="(!confirm || form.controls['confirmpassword'].invalid ) &&
                (form.controls['confirmpassword'].touched || form.controls['confirmpassword'].dirty)">
                <small class="form-text text-danger"
                       *ngIf="form.controls['confirmpassword'].hasError('required')">required password</small>
                <small
                  class="form-text text-danger"
                  *ngIf="!confirm">Passwords do not match</small>
              </div>
            </div>

            <div class="form-group" >
              <input type="submit" [disabled]="form.invalid"  value="Reset" class="btn float-right login_btn">
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
