
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$yallafeen-primary: mat-palette($mat-deep-orange);
$yallafeen-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yallafeen-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$yallafeen-theme: mat-light-theme((
  color: (
    primary: $yallafeen-primary,
    accent: $yallafeen-accent,
    warn: $yallafeen-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yallafeen-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$yallafeen-primary: mat-palette($mat-deep-orange);
//$yallafeen-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yallafeen-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$yallafeen-theme: mat-light-theme((
  color: (
    primary: $yallafeen-primary,
    accent: $yallafeen-accent,
    warn: $yallafeen-warn,
  )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yallafeen-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
//@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
// my custom styles
@import "styles/mainVariables";
@import "styles/mixins";
@import "styles/keyFrames";
@import "styles/mainclasess";
@import "styles/about-us";
@import "styles/agent_profile";
@import "styles/homeCards";
@import "styles/loginPage";
@import "styles/navBar";
@import "styles/reviewPage";
@import "styles/resetPassword";
@import "styles/customTrip";
@import "styles/sky-layout";
@import "styles/details";
@import "styles/faq";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
